<%- include("templates/header") %>
<style>
    .create-form-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 900px;
        max-width: 90%;
        height: 500px;
    }

    .form-floating {
        width: 100%; /* Adjust the width as needed */
    }

    .login-link a:active {
        position: relative;
        transition: background-color 1s;
    }

    .login-link a:active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        pointer-events: none;
        animation: coverText 1s forwards;
    }

    @keyframes coverText {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>

<div class="create-form-container">
    <main class="form-signin m-auto">
        <div class="row justify-content-center py-5">
            <div class="col-md-6">
                <form class="w-75 mx-auto" action="/submitUser" method="post">
                    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
                    <div class="form-floating">
                        <input name="username" type="text" class="form-control" id="floatingInput"
                               placeholder="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="email">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input name='password' pattern="[A-Za-z0-9!@#$%^&*()-_=+[\]{}|;:,.<>/?]+" minlength="4" type="password" class="form-control" id="floatingPassword"
                               placeholder="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <br>

                    <div class="login-link">
                        <a href="/login">Already have an account? Login here</a><br><br>
                    </div>

                    <% if (typeof error !== 'undefined' && error !== null) { %>
                        <div class="alert alert-danger"><%= error %></div>
                    <% } %>

                    <button class="w-100 btn btn-lg btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </main>
</div>


<%- include("templates/footer") %> 