<%- include("templates/header") %> 
    create user
    <form action='/submitUser' method='post'>
    <input name='email' type='text' placeholder='email'>
    <input name='username' type='text' placeholder='username'>
    <input name='password' type='password' placeholder='password'>
    <button>Submit</button>
    </form>
<%- include("templates/footer") %> 