<%- include("templates/header") %>
<head>
    <title>Error</title>
    <!-- Add your CSS styles here -->
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p><%= error %></p>
    <a href="/members">Back to search</a>
</body>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url('/img/background.jpg');
        background-size: cover;
        background-position: center;
    }
    
    h1, p {
        margin-top: 30px;
    }
    
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    
    p {
        font-size: 18px;
    }
    
    a {
        font-size: 16px;
        text-decoration: none;
    }
</style>

<%- include("templates/footer") %> 
