<%- include("templates/header") %>
<head>
    <title>Error</title>
    <!-- Add your CSS styles here -->
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p><%= error %></p>
    <a href="/members">Back to search</a>
</body>


<style>
    body {
      font-family: 'Roboto', sans-serif;
      background-image: url('/img/background.jpg');
      background-size: cover;
      background-position: center;
    }
  </style>
<%- include("templates/footer") %> 
