<%- include("templates/header") %>
<h1>Forgot Password</h1>
<form action="/forgot-password" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
    <button type="submit">Reset Password</button>
</form>
<%- include("templates/footer") %>