<%- include("templates/header") %>

<div style="
    background: url('/img/Genie.gif') no-repeat center center; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    ">
    <h1 style="
        color: white; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 10px;
        ">We can not give you a recipe of hat, but we can give you a power up KitchenGenie!</h1>

    <!-- You can add more HTML elements here -->
</div>

<%- include("templates/footer") %>
