<%- include("templates/header") %> 
<div class="container py-4">
<%- include("templates/searchBar") %> 
<div class="recommend py-5">
    <div class="d-inline-flex justify-content-center px-4 py-2 bd-highlight fs-3 rounded-pill bg-success " style="--bs-bg-opacity: .3;">  Recommendations  </div>
</div>
<div class="d-flex flex-column bd-highlight mb-3 justify-content-between">
    <div class="p-2 bd-highlight bg-success mb-3" style="--bs-bg-opacity: .2;">Flex item 1 
        <a href="/bookmarked" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
        </a>
    </div>
    <div class="p-2 bd-highlight bg-success mb-3" style="--bs-bg-opacity: .2;">Flex item 1 
        <a href="/bookmarked" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
        </a>
    </div>
    <div class="p-2 bd-highlight bg-success mb-3" style="--bs-bg-opacity: .2;">Flex item 1 
        <a href="/bookmarked" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
        </a>
    </div>
    <div class="p-2 bd-highlight bg-success mb-3" style="--bs-bg-opacity: .2;">Flex item 1 
        <a href="/bookmarked" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
        </a>
    </div>
    <div class="p-2 bd-highlight bg-success mb-3" style="--bs-bg-opacity: .2;">Flex item 1 
        <a href="/bookmarked" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
        </a>
    </div>

  </div>
    <br><br>
<button type="button" class="btn btn-primary rounded-pill px-3" onclick="window.location.href='/login'">Login</button>
<button type="button" class="btn btn-danger rounded-pill px-3" onclick="window.location.href='/createUser'">Create User</button>

</div>
<%- include("templates/footer") %> 