<%- include("templates/header") %> 
<button type="button" class="btn btn-primary rounded-pill px-3" onclick="window.location.href='/login'">Login</button>
<button type="button" class="btn btn-danger rounded-pill px-3" onclick="window.location.href='/createUser'">Create User</button>

<%- include("templates/footer") %> 