<%- include("templates/header") %> 

<h2>Hello, <%= username %> </h2><br></br>
<img src='/java.jpg' style='width:250px;'>
<img src='/c.jpg' style='width:250px;'>
<img src='/javascript.jpg' style='width:250px;'>
<br></br>
<button type="button" class="btn btn-danger rounded-pill px-3" onclick="window.location.href='/logout'">Log Out</button>


<%- include("templates/footer") %> 