<%- include("templates/header") %>

<style>
    .content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
  }
</style>

<div class="content-wrapper" style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);">
  <h1 style="font-size: 24px; font-weight: bold; color: #333;">Password Reset</h1>
  <p style="font-size: 16px; color: #333;">To reset your password, click on the link below:</p>
  <a href="<%= resetLink %>" style="font-size: 16px; color: #3498db;"><%= resetLink %></a>
  <p style="font-size: 16px; color: #333;">If you did not request a password reset, please ignore this email.</p>
</div>
<%- include("templates/footer") %>
