<%- include("templates/header") %>
<body>
    <h1>Reset Password</h1>
    <form method="POST" action="/reset-password/<%= resetToken %>">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
    <%- include("templates/footer") %>
