<%- include("templates/header") %>
<form action="/reset-password" method="POST">
    <h3>Check <%= email %> from KitchenGenie and enter the 6-digit code below</h3>
    <label for="code">Code:</label>
    <input type="number" name="code" id="code" required>
    <br>
    <button type="submit">Submit Code</button>
</form>
<%- include("templates/footer") %>