<%- include("templates/header") %>

<style>
    .code-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 5px;

        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 900px;
        max-width: 90%;
        height: 500px;
    }

    .form-floating {
        width: 100%;
    }
</style>
<div class="code-container">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <form class="w-75 mx-auto" action="/reset-password" method="POST">
                <br>
                <br>
                <h3>We have sent 6 digit code to <%= email %> enter your code below </h3>
                <br>

                <div class="form-floating">
                    <input type="number" name="code" class="form-control" id="floatingCode" placeholder="Code">
                    <label for="floatingCode">Code</label>
                </div>

                <% if (typeof error !== 'undefined' && error !== null) { %>
                    <div class="alert alert-danger"><%= error %></div>
                <% } %>

                <!--    <label for="code">Code:</label>-->
                <!--    <input type="number" name="code" id="code" required>-->
                <br>
                <button class="w-30 btn btn-lg btn-primary" type="submit">Submit</button>
            </form>
            <div class="row justify-content-center py-5">
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("templates/footer") %>