<%- include("templates/header") %>

<!-- Add this inside your HTML body -->
<div id="loading-spinner" style="display: none;">
  <!-- Add your loading spinner markup here, e.g., an animated GIF or an SVG spinner -->
</div>

<% if (recipes.length > 0) { %>
    <div class="mt-5">
      <h2>Recipes</h2>
      <ul class="list-group">
        <% recipes.forEach(function(recipe) { %>
          <li class="list-group-item">
            <a href="/recipe/<%= encodeURIComponent(recipe) %>"><%= recipe %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  <% } %>
</div>

<%- include("templates/footer") %>