<%- include("templates/header") %>

<p>Incorrect email or password.</p>
<button type="button" class="btn btn-primary rounded-pill px-3" onclick="window.location.href='/login'">try again</button>


<%- include("templates/footer") %>