</div> <!--main content container-->
<body>
  <div class="container" style="margin-bottom: 60px;"> 
  </div>
  
<div class="container">
  <footer>
    <div class="navbar px-3 py-2 bg-warning justify-content-evenly text-black fixed-bottom" style="--bs-bg-opacity: .8;">
      <%- include("svg") %>
    </div>
  </footer>
</div>
</body>
</html>
