</div> <!--main content container-->
<div class="container">
  <footer>
    <div class="navbar px-3 py-2 bg-warning justify-content-evenly text-black fixed-bottom" style="--bs-bg-opacity: .5;">
      <%- include("svg") %>
    </div>
  </footer>
</div>
</body>
</html>