<!-- End of mainContent.ejs -->
</div>

<body>
  <!-- Container for additional components or elements -->
  <div class="container" style="margin-bottom: 60px;"></div>
  
  <div class="container">
    <footer>
      <!-- Fixed bottom navbar with warning background color and opacity of .8, items are evenly spaced -->
      <div class="navbar px-3 py-2 bg-warning justify-content-evenly text-black fixed-bottom" style="--bs-bg-opacity: .8;">
        <!-- Include SVG file from the respective path -->
        <%- include("svg") %> 
      </div>
    </footer>
  </div>
</body>
</html>
