<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KitchenGenie</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
  </script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="/img/favicon.ico" rel="icon" type="image/x-icon" />

  <style>
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
  }

    .logo {
      position: absolute;
      height: 55px;
      width: 55px;
      margin-left: 40px;
      margin-top: -25px;
    }
    #chefHat {
      position: absolute;
      height: 55px;
      width: 55px;
      margin-left: 40px;
      margin-top: -25px;
    }

    .logo-container {
      margin-right: 55px;
      position: relative;
    }

    .fs-2 {
      font-size: 170px;
      font-weight: bold;
      background-image: linear-gradient(90deg, red, green, blue, navy, purple);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
      font-size: 40px;
    }

    .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
      width: 300px !important;
      background-color: rgb(223, 223, 223);
    }

    .offcanvas-title {
      color: black;
    }

    .nav-link {
      color: black;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
      height: 60px;
    }

    .nav-link:hover {
      background-color: #333;
      color: #fff;
      padding: 10px;
    }

    header {
      z-index: 1000;
    }

  </style>
</head>

<body>
  <header class="position-sticky top-0">
    <div class="px-3 py-2 bg-warning text-white" style="--bs-bg-opacity: .8;">
      <div class="container">
        <div class="navbar d-flex flex-wrap justify-content-lg-start">
          <div class="logo-container">
            <img src="/img/favicon.png" alt="KitchenGenie Logo" class="logo" />
            <img id="chefHat" src="/img/logo_hat.png" alt="Chef Hat" style="display: none;"/>
          </div>
          <div class="title-container" >
            <span class="fs-2" style="margin-left: 1.5em">KitchenGenie</span>
          </div>

          <div class="btn-group dropstart">
            <button type="button" class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
              aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
          </div>

          <div class="offcanvas offcanvas-end text-white" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menus</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="/members" class="nav-link" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                      <use xlink:href="#home"></use>
                    </svg>
                    Home
                    <hr>
                  </a>
                </li>
                <li>
                  <a href="/bookmarks" class="nav-link">
                    <svg class="bi pe-none me-2" width="16" height="16">
                      <use xlink:href="#bookmarks"></use>
                    </svg>
                    Bookmarks
                    <hr>
                  </a>
                </li>
                <li>
                  <a href="/shoppingList" class="nav-link">
                    <svg class="bi pe-none me-2" width="16" height="16">
                      <use xlink:href="#shoppingList"></use>
                    </svg>
                    Shopping List
                    <hr>
                  </a>
                </li>
                <li>
                  <a href="/Profile" class="nav-link">
                    <svg class="bi pe-none me-2" width="16" height="16">
                      <use xlink:href="#Profile"></use>
                    </svg>
                    Profile
                    <hr>
                  </a>
                </li>
                <li>
                  <a href="/logout" class="nav-link">
                    <svg class="bi pe-none me-2" width="16" height="16">
                      <use xlink:href="#people-circle"></use>
                    </svg>
                    Logout
                    <hr>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="bootstrap" viewBox="0 0 118 94">
              <title>Bootstrap</title>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>

            <symbol id="home" viewBox="0 0 16 16">
              <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
            </symbol>

            <symbol id="bookmarks" viewBox="0 0 16 16">
              <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
              <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
            </symbol>

            <symbol id="shoppingList" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </symbol>
            
            <symbol id="Profile" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </symbol>

            <symbol id="grid" viewBox="0 0 16 16">
              <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
            </symbol>
          </svg>

        </div>
      </div>
    </div>

  </header>

  <div class="container">
    <script>
      window.onload = function() {
        // Get the references to both the logo and chefHat
        var logo = document.querySelector('.logo');
        var chefHat = document.getElementById('chefHat');
    
        // Hide the chefHat initially
        chefHat.style.display = 'none';
    
        // Toggle visibility when the logo is clicked
        logo.addEventListener('click', function() {
          if(chefHat.style.display === 'none') {
            chefHat.style.display = 'block';
            logo.style.display = 'none';
          } else {
            chefHat.style.display = 'none';
            logo.style.display = 'block';
          }
        });
    
        // Toggle visibility when the chefHat is clicked
        chefHat.addEventListener('click', function() {
          if(logo.style.display === 'none') {
            logo.style.display = 'block';
            chefHat.style.display = 'none';
          } else {
            logo.style.display = 'none';
            chefHat.style.display = 'block';
          }
        });
      }
    </script>
    
    
    